<template>
  <div id="app">
    <img src="https://i1.wp.com/www.fiestaideasclub.com/wp-content/uploads/2019/03/imagen-muneca-lol-surprise-serie-completa.jpg?resize=1060%2C723&ssl=1" width="700xp" height="400xp">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
